* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
.logo h2 {
  font-size: 45px;
  font-weight: bold;
}
.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 20px 35px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* main style */
header {
  background: url(./images/developer.png), url("./images/header_bg.png"),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
  font-weight: bold;
}
nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  color: #474747;
}
#banner .banner-content h1 {
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-img img {
  max-width: 585px;
  height: 676px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}

#about .about-container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 131px 157px;
  border-radius: 10px;
}
#about .section-heading {
  text-align: center;
}
#about .section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #181818;
}
#about .section-heading p {
  color: #757575;
  line-height: 30px;
}

#about .section-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

#about .section-info {
  text-align: center;
}
#about .section-info p {
  color: #757575;
  font-size: 20px;
}
#about .section-info h4 {
  color: #474747;
  font-size: 20px;
  font-weight: bold;
}
